@model RentalAgency.ViewModels.CostumerFormViewModel
@using RentalAgency.Models
@{
   ViewBag.Title = Model.Title;
   Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<div class="container">

    <h2>@ViewBag.Title</h2>

    <div class="form-movie-image-container">

        <div class="movie-form col-xs-12 col-sm-6">

            @using (Html.BeginForm("Save", "Costumer")) {

               @Html.AntiForgeryToken()
               @Html.HiddenFor(c => c.Costumer.Id)

            <div class="form-group">
                @Html.LabelFor(c => c.Costumer.Name)
                @Html.TextBoxFor(c => c.Costumer.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Costumer.Name)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.Costumer.Email)
                @Html.TextBoxFor(c => c.Costumer.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Costumer.Email)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.Costumer.MembershipType.Name)
                @Html.DropDownListFor(c => c.Costumer.MembershipTypeId,
                new SelectList(Model.MembershipTypes, "Id", "Name"),
                null, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Costumer.MembershipType.Name)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.Costumer.IsSubscribedToNewsletter)
                @Html.CheckBoxFor(c => c.Costumer.IsSubscribedToNewsletter, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Costumer.Name)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.Costumer.canEdit)
                @Html.CheckBoxFor(c => c.Costumer.canEdit, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Costumer.Name)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.Costumer.ImageUrl)
                @Html.TextBoxFor(c => c.Costumer.ImageUrl, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Costumer.ImageUrl)
            </div>

            <button type="submit" class="btn btn-danger"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Salvar</button>
            <a class="btn btn-danger" onclick="history.go(-1); return false;" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Voltar</a>

            }

        </div>

        <div class="movie-form col-xs-6 col-sm-6 text-center form-image-container">

            @if (Model.Costumer != null) {
                <div id="img-preview" style="background-image: url(@Model.Costumer.ImageUrl)"></div>
            }
            else {
                <div id="img-preview" style="background-image: url()"></div>
            }
            

        </div>

    </div>

</div>