<!--
 * Autor: William Parlow Nichelatti
 * Email: william.nichelatti@catolicasc.org.br
 *
--> 
@model DojoArtesMaciais.Models.Aluno

@{
    ViewBag.Title = "Detalhes do aluno";
}

<h2>Details aluno</h2>

<ul>
    <li>ID: @Model.Id</li>
    <li>Nome: @Model.Nome</li>
    <li>Cpf: @Model.Nome</li>
    <li>
        Faixa:
        <ul>
            <li>ID: @Model.Faixa.Id</li>
            <li>Nome: @Model.Faixa.Nome</li>
            <li>Grau: @Model.Faixa.Grau</li>
        </ul>
    </li>
    <li>
        Tipo De Associação:
        <ul>
            <li>ID: @Model.TipoDeAssociacao.Id</li>
            <li>Mensalidade: @Model.TipoDeAssociacao.Mensalidade meses</li>
            <li>Nome: @Model.TipoDeAssociacao.Nome</li>
            <li>Periodo: @Model.TipoDeAssociacao.Periodo</li>
        </ul>
    </li>
</ul>

