@model RentalAgency.Models.Movie
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <section class="movie-details-container">
        <header class="movie-header">
            <h3 class="movie-list-title">Título: @Model.Name</h3>
        </header>
        <div class="details-grid">
            <div class="details-image">
                <div class="image-details" style="background: url(@Model.ImageUrl)">
                    <div class="movie-name">
                        @Model.Name
                    </div>
                </div>
            </div>
            <div class="details-description">
                <div><b>Gênero:</b> @Model.Genre</div>
                <div><b>Duração:</b> @Model.Duration</div>
                <div><b>Descrição:</b> @Model.Descricao</div>
            </div>
        </div>
        <div>
            <a class="btn btn-danger" onclick="history.go(-1); return false;" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Voltar</a>
        </div>
    </section>
</body>
</html>
