@model RentalAgency.Models.Movie
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <section class="movie-details-container">
        <header class="movie-header">
            <h3>@Model.Name</h3>
        </header>
        <p>
            <b>ID:</b> @Model.Id<br/>
            <b>Gênero:</b> @Model.Genre<br/>
            <b>Duração:</b> @Model.Duration <br/><br/>
            <b>Descrição:</b> @Model.Descricao
        </p>
        <p class="movie-flex" style="background: url(@Model.ImageUrl)"></p>
    </section>
</body>
</html>
